<a href="https://colab.research.google.com/github/heyitssree/notebooks/blob/master/pyspark2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 18.3 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=173d4058fbdde7054b483417c208f938b170830f984de12112cb7c642fa7d848
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

ModuleNotFoundError: ignored

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()
spark

In [9]:
df = spark.read.option('header','true').csv('test1.csv')

In [10]:
df.printSchema()
df.show()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|Harry| 23|         1|
| Babu| 25|         2|
|Soman| 25|         3|
|Kunju| 12|         4|
| Appu| 55|         7|
+-----+---+----------+

In [25]:
df = spark.read.csv('test1.csv', header=True, inferSchema=True)

In [12]:
df.printSchema()
df.show()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|Harry| 23|         1|
| Babu| 25|         2|
|Soman| 25|         3|
|Kunju| 12|         4|
| Appu| 55|         7|
+-----+---+----------+

In [16]:
df.columns

['Name', 'age', 'Experience']

In [18]:
df.head(3)

[Row(Name='Harry', age=23, Experience=1),
 Row(Name='Babu', age=25, Experience=2),
 Row(Name='Soman', age=25, Experience=3)]

In [21]:
df.select('Name', 'age').show()

+-----+---+
| Name|age|
+-----+---+
|Harry| 23|
| Babu| 25|
|Soman| 25|
|Kunju| 12|
| Appu| 55|
+-----+---+

In [28]:
df = df.withColumn('Experience after 2 yrs', df['Experience']+2)
df.show()

+-----+---+----------+----------------------+
| Name|age|Experience|Experience after 2 yrs|
+-----+---+----------+----------------------+
|Harry| 23|         1|                     3|
| Babu| 25|         2|                     4|
|Soman| 25|         3|                     5|
|Kunju| 12|         4|                     6|
| Appu| 55|         7|                     9|
+-----+---+----------+----------------------+

In [31]:
df = df.drop('Experience after 2 yrs')
df.show()

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|Harry| 23|         1|
| Babu| 25|         2|
|Soman| 25|         3|
|Kunju| 12|         4|
| Appu| 55|         7|
+-----+---+----------+

In [32]:
df = df.withColumnRenamed('age', 'Age')
df.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Harry| 23|         1|
| Babu| 25|         2|
|Soman| 25|         3|
|Kunju| 12|         4|
| Appu| 55|         7|
+-----+---+----------+